.layout {
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 105px;
    display: flex;
    align-items: flex-end;
    background-color: var(--color-white);
}

.layout > .flex {
    height: 60px;
    width: 100%;
    padding-inline: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "source-serif-pro";
}

.heading {
    font-size: 36px;
    font-weight: var(--weight-bold);
}
