.relative {
    position: relative;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    right: 16px;
    display: flex;
    gap: 5px;
    font-size: 12px;
}

.menu > button {
    text-decoration: underline;
}

.layout {
    padding-inline: 22px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: calc(100% - calc(var(--height-header)));
}

.layout > textarea {
    flex: 1;
}
