.layout {
    display: flex;
    flex-direction: column;
    padding-inline: 22px;
    height: calc(100% - var(--height-header));
    overflow-y: scroll;
}

.layout > .relative {
    position: relative;
}

.relative > img {
    width: 100%;
}

.relative > button {
    position: sticky;
    bottom: 8px;
    left: 50%;
    display: flex;
    transform: rotate(-90deg) translate3d(0, -50%, 0);
    animation: pop 1s infinite;
}

@keyframes pop {
    0% {
        transform: rotate(-90deg) translate3d(0, -50%, 0);
    }

    50% {
        transform: rotate(-90deg) translate3d(8px, -50%, 0);
    }

    100% {
        transform: rotate(-90deg) translate3d(0, -50%, 0);
    }
}
