.layout {
    display: flex;
    flex-direction: column;
    padding-inline: 22px;
    height: calc(100% - 82px);
    overflow-y: scroll;
}

.layout > .relative {
    position: relative;
}

.relative > img {
    width: 100%;
}

.relative > button {
    position: absolute;
    bottom: 8px;
    left: 50%;
    display: flex;
    transform: rotate(-90deg) translate3d(0, -50%, 0);
    animation: pop 1s infinite;
}

@keyframes pop {
    0% {
        transform: rotate(-90deg) translate3d(0, -50%, 0);
    }

    50% {
        transform: rotate(-90deg) translate3d(8px, -50%, 0);
    }

    100% {
        transform: rotate(-90deg) translate3d(0, -50%, 0);
    }
}

.layout > article {
    margin-inline: 16px;
    padding-top: 20px;
}

.layout > article > h3 {
    font-size: 32px;
    font-weight: var(--weight-semibold);
}

.layout > article > hr {
    margin-top: 12px;
    margin-bottom: 20px;
    border-top: 1px solid var(--color-primary);
}

.layout > article > p {
    margin-bottom: 20px;
    line-height: 1.2;
    font-size: 14px;
}
