.layout {
    padding-inline: 25px;
    height: calc(100% - var(--height-header));
}

.list.play1 {
    background-color: var(--color-play1);
}
.list.play3 {
    background-color: var(--color-play2);
}
.list.play5 {
    background-color: var(--color-play3);
}

.list {
    padding-inline: 22px;
    padding-block: 33px;
    margin-bottom: 30px;
    height: calc(100% - 96px);
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: scroll;
}

.list.withoutButton {
    height: 100%;
}

.list > li,
.list > .empty {
    background-color: var(--color-white);
    border-radius: 10px;
    display: flex;
}

.list > li {
    min-height: 81px;
    width: 100%;
    display: flex;
}

.list > .empty {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

.list > li > a {
    padding-inline: 17px;
    padding-block: 16px;
    line-height: 1.2;
    font-size: 14px;
    max-height: 81px;
    word-break: break-all;
}

.list > li > a > p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

span.answered,
span.notAnswered {
    margin-right: 5px;
    border-radius: 10px;
    display: inline-block;
    height: 17px;
    min-width: 50px;
    font-size: 10px;
    text-align: center;
    line-height: 17px;
}

span.answered {
    background-color: var(--color-primary);
    color: var(--color-white);
}

span.notAnswered {
    border: 1px solid var(--color-primary);
}
