.scrollWrapper {
    height: 100%;
}

.headerWithSelect {
    position: relative;
    display: flex;
    align-items: last baseline;
}

.absolute {
    position: absolute;
    right: 16px;
    bottom: 25px;
}

.list {
    margin: 10px 42px 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.empty {
    height: calc(100%);
    margin-inline: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 41px;
}

.empty > span {
    font-size: 20px;
    font-weight: var(--weight-medium);
}
